[Unit]
Description=docker-compose:%i
Requires=docker.service
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes

ExecStart=/bin/bash -c "~/.dkc-stacks/start.sh %i"
ExecStop=/bin/bash -c "~/.dkc-stacks/stop.sh %i"

Restart=always

[Install]
WantedBy=multi-user.target

