[Unit]
Description=docker-compose:%i

[Service]
Restart=always

ExecStart=/bin/bash -c "~/.dkc-stacks/start.sh %i"
ExecStop=/bin/bash -c "~/.dkc-stacks/stop.sh %i"

[Install]
WantedBy=multi-user.target

